In [1]:
import numpy as np
import pandas as pd

In [2]:
data_dic = {'M':[1,2,np.nan,4,np.nan],
            'N':[11,12,13,14,15],
            'O':[np.nan,np.nan,np.nan,np.nan,np.nan],
            'P':[16,np.nan,18,19,20]}
df = pd.DataFrame(data_dic) # dataframe from a dic.
print(df)

     M   N   O     P
0  1.0  11 NaN  16.0
1  2.0  12 NaN   NaN
2  NaN  13 NaN  18.0
3  4.0  14 NaN  19.0
4  NaN  15 NaN  20.0

In [3]:
print(df.isnull())

print(df.isnull().sum())

       M      N     O      P
0  False  False  True  False
1  False  False  True   True
2   True  False  True  False
3  False  False  True  False
4   True  False  True  False
M    2
N    0
O    5
P    1
dtype: int64

In [4]:
import numpy as np
import pandas as pd

data_dic = {
    'M': [1, 2, np.nan, 4, np.nan],
    'N': [11, 12, 13, 14, 15],
    'O': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'P': [16, np.nan, 18, 19, 20]
}

df = df.fillna("N")
print(df)

     M   N  O     P
0  1.0  11  N  16.0
1  2.0  12  N     N
2    N  13  N  18.0
3  4.0  14  N  19.0
4    N  15  N  20.0

In [5]:
import numpy as np
import pandas as pd

data_dic = {
    'M': [1, 2, np.nan, 4, np.nan],
    'N': [11, 12, 13, 14, 15],
    'O': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'P': [16, np.nan, 18, 19, 20]
}

df = pd.DataFrame(data_dic)
mean_M = df['M'].mean()
df['M'] = df['M'].fillna(mean_M)

print(df)

          M   N   O     P
0  1.000000  11 NaN  16.0
1  2.000000  12 NaN   NaN
2  2.333333  13 NaN  18.0
3  4.000000  14 NaN  19.0
4  2.333333  15 NaN  20.0

In [6]:
import numpy as np
import pandas as pd

data_dic = {
    'M': [1, 2, np.nan, 4, np.nan],
    'N': [11, 12, 13, 14, 15],
    'O': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'P': [16, np.nan, 18, 19, 20]
}
df.ffill(inplace=True)
print(df)

          M   N   O     P
0  1.000000  11 NaN  16.0
1  2.000000  12 NaN  16.0
2  2.333333  13 NaN  18.0
3  4.000000  14 NaN  19.0
4  2.333333  15 NaN  20.0

In [7]:
import pandas as pd

data_dic_filled = {
    'M': [1.0, 2.0, 2.0, 4.0, 4.0],
    'N': [None, None, None, None, None],
    'O': [11, 12, 13, 14, 15],
    'P': [16.0, 16.0, 18.0, 19.0, 20.0]
}

df = pd.DataFrame(data_dic_filled)
print(df)

     M     N   O     P
0  1.0  None  11  16.0
1  2.0  None  12  16.0
2  2.0  None  13  18.0
3  4.0  None  14  19.0
4  4.0  None  15  20.0